.user_container {
  height: 150px;
  box-sizing: border-box;
  padding: 25px;
  width: 70%;
  margin: 0 auto 30px;
  background: #fff;
  border: 1px solid #4cc1cc;
  border-radius: 8px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

.user_container {
  display: flex;
}

.user_picture img {
  border-radius: 50%;
}

.user_info {
  width: 35%;
  border-right: 1px solid #e5e5e5;
  padding: 10px;
  font-size: 12px;
  margin-left: 20px;
}
.user_name {
  font-size: 20px;
}
.user_about {
}

.user_friends {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.user_request button {
  width: 100px;
  height: 30px;
  border: 1px solid #4d75a3;
  border-radius: 6px;
  color: #4d75a3;
  margin-bottom: 5px;
}

.user_request .primary {
  background-color: #4d75a3;
  color: #fff;
}

.user-enter {
  opacity: 0.01;
}

.user-enter.user-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.user-leave {
  opacity: 1;
}

.user-leave.user-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
